.Card {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  width: 304px;
}

.CardImage {
  height: 160px !important;
}

.CardTitle {
  font-weight: 500;
  color: black;
}

.CardMedia {
  align-items: flex-end !important;
}

.CardAvatar {
  width: 48px !important;
  height: 48px !important;
}

.CardAuthorName {
  color: black;
}

@media screen and (max-width: 1023px) {
  .Card {
    width: 362px;
  }

  .CardImage {
    height: 190px !important;
  }

  .CardAvatar {
    width: 24px !important;
    height: 24px !important;
  }
}
